In [1]:
import pandas as pd

In [3]:
staff_df = pd.DataFrame([{"Name": "Kelly", "Role": "Director of HR"}, 
                        {"Name": "Sally", "Role": "Course liasion"},
                        {"Name": "James", "Role": "Grader"}])
staff_df.set_index("Name", inplace=True)

student_df = pd.DataFrame([{"Name": "James", "School": "Business"},
                        {"Name": "Mike", "School": "Law"},
                        {"Name": "Sally", "School": "Engineering"}])
student_df.set_index("Name", inplace=True)

print(staff_df)
print("\n")
print(student_df)

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader


            School
Name
James     Business
Mike           Law
Sally  Engineering

In [7]:
print(pd.merge(staff_df, student_df, how="outer", left_index=True, right_index=True))
# staff is left and student is right
# outer to consider all people
# left and right index = True to consider all columns

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [8]:
print(pd.merge(staff_df, student_df, how="inner", left_index=True, right_index=True))
# inner to consider people in both dataframes

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [9]:
print(pd.merge(staff_df, student_df, how="left", left_index=True, right_index=True))
# left join to consider all people who have a role

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [10]:
print(pd.merge(staff_df, student_df, how="right", left_index=True, right_index=True))
# right join to consider all people who have a school

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [11]:
staff_df.reset_index(inplace=True)
student_df.reset_index(inplace=True)

print(pd.merge(staff_df, student_df, how="right", on="Name"))
# we use on when we want to merge based in a column which is not the index

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course liasion  Engineering

In [12]:
staff_df = pd.DataFrame([{"Name": "Kelly", "Role": "Director of HR", "Location": "State Street"},
                        {"Name": "Sally", "Role": "Course liasion", "Location": "Washington Avenue"},
                        {"Name": "James", "Role": "Grader", "Location": "Washington Avenue"}])

student_df = pd.DataFrame([{"Name": "James", "School": "Business", "Location": "1024 Billiard Avenue"},
                        {"Name": "Mike", "School": "Law", "Location": "Fraternity House #22"},
                        {"Name": "Sally", "School": "Engineering", "Location": "512 Wilson Crescent"}])

print(pd.merge(staff_df, student_df, how="left", on="Name"))

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [22]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 
                        'Role': 'Director of HR'},
                        {'First Name': 'Sally', 'Last Name': 'Brooks', 
                        'Role': 'Course liasion'},
                        {'First Name': 'James', 'Last Name': 'Wilde', 
                        'Role': 'Grader'}])

student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 
                            'School': 'Business'},
                            {'First Name': 'Mike', 'Last Name': 'Smith', 
                            'School': 'Law'},
                            {'First Name': 'Sally', 'Last Name': 'Brooks', 
                            'School': 'Engineering'}])

print(pd.merge(staff_df, student_df, how="inner", on=["First Name", "Last Name"]))
# if I were to put on="First Name", both James would appear even though they are not the same person

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

In [23]:
fruits = pd.DataFrame([{"Name": "Apple", "Calories": 95},
                    {"Name": "Banana", "Calories": 105},
                    {"Name": "Orange", "Calories": 62}])

vegetables = pd.DataFrame([{"Name": "Broccoli", "Calories": 31}, 
                        {"Name": "Carrot", "Calories": 52},
                        {"Name": "Spinach", "Calories": 7}])

df_merged = pd.concat([fruits, vegetables], ignore_index=True) # ignore index to create new indexes for each element
print(df_merged)

       Name  Calories
0     Apple        95
1    Banana       105
2    Orange        62
3  Broccoli        31
4    Carrot        52
5   Spinach         7