In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("cwurData.csv")
print(df.head())

   world_rank                            institution         country  \
0           1                     Harvard University             USA
1           2  Massachusetts Institute of Technology             USA
2           3                    Stanford University             USA
3           4                University of Cambridge  United Kingdom
4           5     California Institute of Technology             USA

   national_rank  quality_of_education  alumni_employment  quality_of_faculty  \
0              1                     7                  9                   1
1              2                     9                 17                   3
2              3                    17                 11                   5
3              1                    10                 24                   4
4              4                     2                 29                   7

   publications  influence  citations  broad_impact  patents   score  year
0             1          1          1           NaN        5  100.00  2012
1            12          4          4           NaN        1   91.67  2012
2             4          2          2           NaN       15   89.50  2012
3            16         16         11           NaN       50   86.17  2012
4            37         22         22           NaN       18   85.21  2012

In [5]:
def category(ranking):
    if 1 <= ranking <= 100:
        return "First Tier Top University"
    if 101 <= ranking <= 200:
        return "Second Tier Top University"
    if 201 <= ranking <= 300:
        return "Third Tier Top University"
    return "Other Top University"

df["Rank_level"] = df["world_rank"].apply(lambda x: category(x))
print(df.head())

   world_rank                            institution         country  \
0           1                     Harvard University             USA
1           2  Massachusetts Institute of Technology             USA
2           3                    Stanford University             USA
3           4                University of Cambridge  United Kingdom
4           5     California Institute of Technology             USA

   national_rank  quality_of_education  alumni_employment  quality_of_faculty  \
0              1                     7                  9                   1
1              2                     9                 17                   3
2              3                    17                 11                   5
3              1                    10                 24                   4
4              4                     2                 29                   7

   publications  influence  citations  broad_impact  patents   score  year  \
0             1          1          1           NaN        5  100.00  2012
1            12          4          4           NaN        1   91.67  2012
2             4          2          2           NaN       15   89.50  2012
3            16         16         11           NaN       50   86.17  2012
4            37         22         22           NaN       18   85.21  2012

                  Rank_level
0  First Tier Top University
1  First Tier Top University
2  First Tier Top University
3  First Tier Top University
4  First Tier Top University

In [6]:
print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean]).head())
# pivot table used to compare some values inside a column
# values is the row to be analized
# columns will take the column name in which we will delve deeper into its categories
# aggfunc is the aggregation function which we will use with the values

                                mean                       \
Rank_level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706


Rank_level Second Tier Top University Third Tier Top University
country
Argentina                         NaN                       NaN
Australia                     49.2425                 47.285000
Austria                           NaN                 47.066667
Belgium                       49.0840                 46.746667
Brazil                        49.5650                       NaN

C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\619395703.py:1: FutureWarning: The provided callable <function mean at 0x000001F3EFDB1B20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean]).head())

In [7]:
print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max]).head())
# we can pass more than 1 aggfunc

                                mean                       \
Rank_level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706

                                                                 \
Rank_level Second Tier Top University Third Tier Top University
country
Argentina                         NaN                       NaN
Australia                     49.2425                 47.285000
Austria                           NaN                 47.066667
Belgium                       49.0840                 46.746667
Brazil                        49.5650                       NaN

                                 max                       \
Rank_level First Tier Top University Other Top University
country
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21
Brazil                           NaN                46.08


Rank_level Second Tier Top University Third Tier Top University
country
Argentina                         NaN                       NaN
Australia                       50.40                     47.47
Austria                           NaN                     47.78
Belgium                         49.73                     47.14
Brazil                          49.82                       NaN

C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\2482982390.py:1: FutureWarning: The provided callable <function mean at 0x000001F3EFDB1B20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max]).head())
C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\2482982390.py:1: FutureWarning: The provided callable <function max at 0x000001F3EFDB1120> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max]).head())

In [8]:
print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True).head())
# now it does the whole average with the margins parameter

                                mean                       \
Rank_level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706

                                                                            \
Rank_level Second Tier Top University Third Tier Top University        All
country
Argentina                         NaN                       NaN  44.672857
Australia                     49.2425                 47.285000  45.825517
Austria                           NaN                 47.066667  45.139583
Belgium                       49.0840                 46.746667  47.011000
Brazil                        49.5650                       NaN  44.781111

                                 max                       \
Rank_level First Tier Top University Other Top University
country
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21
Brazil                           NaN                46.08


Rank_level Second Tier Top University Third Tier Top University    All
country
Argentina                         NaN                       NaN  45.66
Australia                       50.40                     47.47  51.61
Austria                           NaN                     47.78  47.78
Belgium                         49.73                     47.14  52.03
Brazil                          49.82                       NaN  49.82

C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\640591357.py:1: FutureWarning: The provided callable <function mean at 0x000001F3EFDB1B20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True).head())
C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\640591357.py:1: FutureWarning: The provided callable <function mean at 0x000001F3EFDB1B20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True).head())
C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\640591357.py:1: FutureWarning: The provided callable <function mean at 0x000001F3EFDB1B20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True).head())
C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\640591357.py:1: FutureWarning: The provided callable <function max at 0x000001F3EFDB1120> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True).head())
C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\640591357.py:1: FutureWarning: The provided callable <function max at 0x000001F3EFDB1120> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True).head())
C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\640591357.py:1: FutureWarning: The provided callable <function max at 0x000001F3EFDB1120> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  print(df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True).head())

In [20]:
new_df = df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True)
print(new_df.index)
print("\n")
print(new_df.columns)

Index(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Colombia', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Egypt', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Iran',
       'Ireland', 'Israel', 'Italy', 'Japan', 'Lebanon', 'Lithuania',
       'Malaysia', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland',
       'Portugal', 'Puerto Rico', 'Romania', 'Russia', 'Saudi Arabia',
       'Serbia', 'Singapore', 'Slovak Republic', 'Slovenia', 'South Africa',
       'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Turkey', 'USA', 'Uganda', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'All'],
      dtype='object', name='country')


MultiIndex([('mean',  'First Tier Top University'),
            ('mean',       'Other Top University'),
            ('mean', 'Second Tier Top University'),
            ('mean',  'Third Tier Top University'),
            ('mean',                        'All'),
            ( 'max',  'First Tier Top University'),
            ( 'max',       'Other Top University'),
            ( 'max', 'Second Tier Top University'),
            ( 'max',  'Third Tier Top University'),
            ( 'max',                        'All')],
           names=[None, 'Rank_level'])

C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\1997170964.py:1: FutureWarning: The provided callable <function mean at 0x000001F3EFDB1B20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  new_df = df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True)
C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\1997170964.py:1: FutureWarning: The provided callable <function mean at 0x000001F3EFDB1B20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  new_df = df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True)
C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\1997170964.py:1: FutureWarning: The provided callable <function mean at 0x000001F3EFDB1B20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  new_df = df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True)
C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\1997170964.py:1: FutureWarning: The provided callable <function max at 0x000001F3EFDB1120> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  new_df = df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True)
C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\1997170964.py:1: FutureWarning: The provided callable <function max at 0x000001F3EFDB1120> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  new_df = df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True)
C:\Users\thoma\AppData\Local\Temp\ipykernel_21144\1997170964.py:1: FutureWarning: The provided callable <function max at 0x000001F3EFDB1120> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  new_df = df.pivot_table(values="score", index="country", columns="Rank_level", aggfunc=[np.mean, np.max], margins=True)

In [21]:
print(new_df["mean"]["First Tier Top University"].head())
# it is a series

country
Argentina        NaN
Australia    47.9425
Austria          NaN
Belgium      51.8750
Brazil           NaN
Name: First Tier Top University, dtype: float64

In [22]:
print(new_df["mean"]["First Tier Top University"].idxmax())
# country that has the maximum average scire on first tier top

United Kingdom

In [23]:
print(new_df.head())

                                mean                       \
Rank_level First Tier Top University Other Top University
country
Argentina                        NaN            44.672857
Australia                    47.9425            44.645750
Austria                          NaN            44.864286
Belgium                      51.8750            45.081000
Brazil                           NaN            44.499706

                                                                            \
Rank_level Second Tier Top University Third Tier Top University        All
country
Argentina                         NaN                       NaN  44.672857
Australia                     49.2425                 47.285000  45.825517
Austria                           NaN                 47.066667  45.139583
Belgium                       49.0840                 46.746667  47.011000
Brazil                        49.5650                       NaN  44.781111

                                 max                       \
Rank_level First Tier Top University Other Top University
country
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21
Brazil                           NaN                46.08


Rank_level Second Tier Top University Third Tier Top University    All
country
Argentina                         NaN                       NaN  45.66
Australia                       50.40                     47.47  51.61
Austria                           NaN                     47.78  47.78
Belgium                         49.73                     47.14  52.03
Brazil                          49.82                       NaN  49.82

In [24]:
new_df = new_df.stack()
print(new_df.head())
# with the stack function, the rank level is now in the rows since they were the lowermost column

                                           mean    max
country   Rank_level
Argentina Other Top University        44.672857  45.66
          All                         44.672857  45.66
Australia First Tier Top University   47.942500  51.61
          Other Top University        44.645750  45.97
          Second Tier Top University  49.242500  50.40

In [25]:
print(new_df.unstack().head())
# does the opposite of .stack()

                                mean                       \
Rank_level First Tier Top University Other Top University
country
All                        58.350675            44.738871
Argentina                        NaN            44.672857
Australia                  47.942500            44.645750
Austria                          NaN            44.864286
Belgium                    51.875000            45.081000

                                                                            \
Rank_level Second Tier Top University Third Tier Top University        All
country
All                          49.06545                 46.843450  47.798395
Argentina                         NaN                       NaN  44.672857
Australia                    49.24250                 47.285000  45.825517
Austria                           NaN                 47.066667  45.139583
Belgium                      49.08400                 46.746667  47.011000

                                 max                       \
Rank_level First Tier Top University Other Top University
country
All                           100.00                46.34
Argentina                        NaN                45.66
Australia                      51.61                45.97
Austria                          NaN                46.29
Belgium                        52.03                46.21


Rank_level Second Tier Top University Third Tier Top University     All
country
All                             51.29                     47.93  100.00
Argentina                         NaN                       NaN   45.66
Australia                       50.40                     47.47   51.61
Austria                           NaN                     47.78   47.78
Belgium                         49.73                     47.14   52.03

In [26]:
print(new_df.unstack().unstack().head()) # the rows become columns

      Rank_level                 country
mean  First Tier Top University  All          58.350675
                                 Argentina          NaN
                                 Australia    47.942500
                                 Austria            NaN
                                 Belgium      51.875000
dtype: float64