In [11]:
import numpy as np
import pandas as pd

from scipy import stats # statistical testing
from scipy.stats import ttest_ind

In [3]:
df = pd.read_csv("grades.csv")
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [4]:
print(f"{df.shape[0]} rows and {df.shape[1]} columns")

2315 rows and 13 columns

In [7]:
early_finishers = df[pd.to_datetime(df["assignment1_submission"]) < "2016"]
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [8]:
late_finishers = df[~df.index.isin(early_finishers.index)]
# considering the data which is in the df but it is NOT (~) in early_finishers
late_finishers.head()
# other possible approach would be to do a left merge, only considering the data that is in df but not in early_finishers

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [10]:
print(early_finishers["assignment1_grade"].mean())
print(late_finishers["assignment1_grade"].mean())

74.94728457024304
74.0450648477065

In [12]:
ttest_ind(early_finishers["assignment1_grade"], late_finishers["assignment1_grade"])
# 18% of chance that the 2 pópulations are the same
# once it is greater than 5%, we need to consider the null hypothesis

TtestResult(statistic=1.3223540853721598, pvalue=0.18618101101713855, df=2313.0)

In [16]:
print(ttest_ind(early_finishers["assignment2_grade"], late_finishers["assignment2_grade"]))
print(ttest_ind(early_finishers["assignment3_grade"], late_finishers["assignment3_grade"]))
print(ttest_ind(early_finishers["assignment4_grade"], late_finishers["assignment4_grade"]))
print(ttest_ind(early_finishers["assignment5_grade"], late_finishers["assignment5_grade"]))
print(ttest_ind(early_finishers["assignment6_grade"], late_finishers["assignment6_grade"]))
# all above 5%
# we do not have enough evidence to say that the populations differ when it comes to grades
# if we consider other chance similarity (more than 5%), assignment 3 could have been considered statistically significant
# when the pvalue is less than alpha(certain %), there is a significant difference

TtestResult(statistic=1.2514717608216366, pvalue=0.2108889627004424, df=2313.0)
TtestResult(statistic=1.6133726558705392, pvalue=0.10679998102227865, df=2313.0)
TtestResult(statistic=0.049671157386456125, pvalue=0.960388729789337, df=2313.0)
TtestResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492, df=2313.0)
TtestResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656, df=2313.0)

In [31]:
# other methods can be used to analyze similarity instead of p-values

df1 = pd.DataFrame([np.random.random(100) for i in range(100)])
# this is creating 100 lists each one with 100 numbers between 0 and 1

df2 = pd.DataFrame([np.random.random(100) for i in range(100)])

In [32]:
# let's consider 10% the critical value

def test_columns(alpha=0.1):
    num_diff = 0 # count the number of similatiries
    for column in df1.columns:
        teststat, pval = ttest_ind(df1[column], df2[column])
        # ttest_ind return a tuple: statistic and the p-value
        if (pval <= alpha):
            print(f"Column {column} is statistically significantly different at the critical_value={alpha}, pval={pval}")
            num_diff += 1
    print(f"The number of differences was {num_diff}, which is {float(num_diff)/len(df1.columns)*100}%")


test_columns()
# since the critical_value is 0.1, about 10% of the columns would be the "same"

Column 9 is statistically significantly different at the critical_value=0.1, pval=0.05280216832450281
Column 12 is statistically significantly different at the critical_value=0.1, pval=0.012052890320321618
Column 20 is statistically significantly different at the critical_value=0.1, pval=0.05310012283329236
Column 35 is statistically significantly different at the critical_value=0.1, pval=0.058194423956345664
Column 51 is statistically significantly different at the critical_value=0.1, pval=0.011922936722659733
Column 56 is statistically significantly different at the critical_value=0.1, pval=0.02363411388408983
Column 68 is statistically significantly different at the critical_value=0.1, pval=0.034193461122476246
Column 81 is statistically significantly different at the critical_value=0.1, pval=0.02185924965717806
Column 98 is statistically significantly different at the critical_value=0.1, pval=0.004893425098670323
The number of differences was 9, which is 9.0%

In [33]:
test_columns(0.05)
# about 5%

Column 12 is statistically significantly different at the critical_value=0.05, pval=0.012052890320321618
Column 51 is statistically significantly different at the critical_value=0.05, pval=0.011922936722659733
Column 56 is statistically significantly different at the critical_value=0.05, pval=0.02363411388408983
Column 68 is statistically significantly different at the critical_value=0.05, pval=0.034193461122476246
Column 81 is statistically significantly different at the critical_value=0.05, pval=0.02185924965717806
Column 98 is statistically significantly different at the critical_value=0.05, pval=0.004893425098670323
The number of differences was 6, which is 6.0%

In [36]:
df2 = pd.DataFrame([np.random.chisquare(df=1, size=100) for i in range(100)]) # 1 degree of freedom and 100 elements
test_columns()

Column 0 is statistically significantly different at the critical_value=0.1, pval=4.536632595821643e-05
Column 1 is statistically significantly different at the critical_value=0.1, pval=0.03296036799021505
Column 2 is statistically significantly different at the critical_value=0.1, pval=2.3934602669405898e-05
Column 3 is statistically significantly different at the critical_value=0.1, pval=0.00011138103654082838
Column 4 is statistically significantly different at the critical_value=0.1, pval=0.020471243325996247
Column 5 is statistically significantly different at the critical_value=0.1, pval=0.0008303436695908247
Column 6 is statistically significantly different at the critical_value=0.1, pval=2.8597366012992776e-05
Column 7 is statistically significantly different at the critical_value=0.1, pval=0.00010171289848647078
Column 8 is statistically significantly different at the critical_value=0.1, pval=0.05412490673262296
Column 9 is statistically significantly different at the critical_value=0.1, pval=0.0013293607649946459
Column 10 is statistically significantly different at the critical_value=0.1, pval=4.6341281846773116e-05
Column 11 is statistically significantly different at the critical_value=0.1, pval=0.00014282848964709087
Column 12 is statistically significantly different at the critical_value=0.1, pval=3.3858612482909964e-05
Column 13 is statistically significantly different at the critical_value=0.1, pval=0.01546498592738779
Column 14 is statistically significantly different at the critical_value=0.1, pval=0.00012951996923880857
Column 15 is statistically significantly different at the critical_value=0.1, pval=0.005508238493531843
Column 16 is statistically significantly different at the critical_value=0.1, pval=0.007006421539321811
Column 17 is statistically significantly different at the critical_value=0.1, pval=0.03533562893089482
Column 19 is statistically significantly different at the critical_value=0.1, pval=0.0002631643170244532
Column 20 is statistically significantly different at the critical_value=0.1, pval=0.0009416479388862725
Column 21 is statistically significantly different at the critical_value=0.1, pval=0.0005292071410315542
Column 22 is statistically significantly different at the critical_value=0.1, pval=4.544837363555117e-05
Column 23 is statistically significantly different at the critical_value=0.1, pval=5.191671858490601e-05
Column 24 is statistically significantly different at the critical_value=0.1, pval=0.0011759666244766515
Column 25 is statistically significantly different at the critical_value=0.1, pval=0.00029635298009861755
Column 26 is statistically significantly different at the critical_value=0.1, pval=0.00014694304450322336
Column 27 is statistically significantly different at the critical_value=0.1, pval=1.850497241590606e-05
Column 28 is statistically significantly different at the critical_value=0.1, pval=0.0004964667129686986
Column 29 is statistically significantly different at the critical_value=0.1, pval=0.0015015053629487474
Column 30 is statistically significantly different at the critical_value=0.1, pval=0.018615773267215627
Column 31 is statistically significantly different at the critical_value=0.1, pval=0.006741026980184807
Column 32 is statistically significantly different at the critical_value=0.1, pval=0.001407989423250712
Column 33 is statistically significantly different at the critical_value=0.1, pval=0.010545348293926522
Column 34 is statistically significantly different at the critical_value=0.1, pval=6.412778647425282e-05
Column 35 is statistically significantly different at the critical_value=0.1, pval=0.001428449088669292
Column 36 is statistically significantly different at the critical_value=0.1, pval=3.6558902186130644e-05
Column 37 is statistically significantly different at the critical_value=0.1, pval=0.00010420500321673556
Column 38 is statistically significantly different at the critical_value=0.1, pval=0.00011775152667997743
Column 39 is statistically significantly different at the critical_value=0.1, pval=0.005812997256051608
Column 40 is statistically significantly different at the critical_value=0.1, pval=1.4937777128118478e-05
Column 41 is statistically significantly different at the critical_value=0.1, pval=0.0012357701695191528
Column 42 is statistically significantly different at the critical_value=0.1, pval=1.64693444876702e-05
Column 43 is statistically significantly different at the critical_value=0.1, pval=0.0008827954244615354
Column 44 is statistically significantly different at the critical_value=0.1, pval=0.01837737397033252
Column 45 is statistically significantly different at the critical_value=0.1, pval=5.821637876490485e-05
Column 46 is statistically significantly different at the critical_value=0.1, pval=0.002428847470784669
Column 47 is statistically significantly different at the critical_value=0.1, pval=0.0003910380797561015
Column 48 is statistically significantly different at the critical_value=0.1, pval=0.011944650576641219
Column 49 is statistically significantly different at the critical_value=0.1, pval=0.001134940092781885
Column 50 is statistically significantly different at the critical_value=0.1, pval=0.0026675028233387106
Column 51 is statistically significantly different at the critical_value=0.1, pval=5.059192971272677e-06
Column 52 is statistically significantly different at the critical_value=0.1, pval=0.0004153199289570221
Column 53 is statistically significantly different at the critical_value=0.1, pval=0.002248674789708894
Column 54 is statistically significantly different at the critical_value=0.1, pval=0.0001237240785196739
Column 55 is statistically significantly different at the critical_value=0.1, pval=0.004254692382606379
Column 56 is statistically significantly different at the critical_value=0.1, pval=0.008738371843552752
Column 57 is statistically significantly different at the critical_value=0.1, pval=0.000328329951390752
Column 58 is statistically significantly different at the critical_value=0.1, pval=0.0006673913339817119
Column 59 is statistically significantly different at the critical_value=0.1, pval=0.0002706953921320472
Column 60 is statistically significantly different at the critical_value=0.1, pval=0.00022096592014008752
Column 61 is statistically significantly different at the critical_value=0.1, pval=4.785054498207655e-06
Column 62 is statistically significantly different at the critical_value=0.1, pval=0.0057501529216923905
Column 63 is statistically significantly different at the critical_value=0.1, pval=0.042884045799941914
Column 64 is statistically significantly different at the critical_value=0.1, pval=0.0023373814970024625
Column 65 is statistically significantly different at the critical_value=0.1, pval=0.09840964166694964
Column 66 is statistically significantly different at the critical_value=0.1, pval=0.0007866762655266428
Column 67 is statistically significantly different at the critical_value=0.1, pval=0.0008486146958853604
Column 68 is statistically significantly different at the critical_value=0.1, pval=0.010912498566066726
Column 69 is statistically significantly different at the critical_value=0.1, pval=0.005938902610252172
Column 70 is statistically significantly different at the critical_value=0.1, pval=0.0004983567171297676
Column 71 is statistically significantly different at the critical_value=0.1, pval=0.00026432021832023046
Column 72 is statistically significantly different at the critical_value=0.1, pval=0.007160018970163837
Column 73 is statistically significantly different at the critical_value=0.1, pval=4.877636306164614e-05
Column 74 is statistically significantly different at the critical_value=0.1, pval=0.00011026868072550316
Column 75 is statistically significantly different at the critical_value=0.1, pval=0.00020598025225378882
Column 76 is statistically significantly different at the critical_value=0.1, pval=8.712968970947202e-05
Column 77 is statistically significantly different at the critical_value=0.1, pval=0.0019372780867892504
Column 78 is statistically significantly different at the critical_value=0.1, pval=7.27934736377581e-05
Column 79 is statistically significantly different at the critical_value=0.1, pval=4.943473451694443e-05
Column 80 is statistically significantly different at the critical_value=0.1, pval=0.0005828535786645356
Column 81 is statistically significantly different at the critical_value=0.1, pval=0.023488362011312016
Column 82 is statistically significantly different at the critical_value=0.1, pval=0.0015362931151935294
Column 83 is statistically significantly different at the critical_value=0.1, pval=0.0003070568265830283
Column 84 is statistically significantly different at the critical_value=0.1, pval=2.5150451895534042e-05
Column 85 is statistically significantly different at the critical_value=0.1, pval=0.00047465459288173034
Column 86 is statistically significantly different at the critical_value=0.1, pval=0.0004109438018427883
Column 87 is statistically significantly different at the critical_value=0.1, pval=0.0003391702787573546
Column 88 is statistically significantly different at the critical_value=0.1, pval=0.0024036612911177177
Column 89 is statistically significantly different at the critical_value=0.1, pval=0.001558884135588971
Column 90 is statistically significantly different at the critical_value=0.1, pval=6.356995436558373e-05
Column 91 is statistically significantly different at the critical_value=0.1, pval=0.004632831959621457
Column 92 is statistically significantly different at the critical_value=0.1, pval=0.004223624155248072
Column 93 is statistically significantly different at the critical_value=0.1, pval=0.0007212628791431066
Column 94 is statistically significantly different at the critical_value=0.1, pval=0.001624120267017666
Column 95 is statistically significantly different at the critical_value=0.1, pval=0.002959827979681764
Column 96 is statistically significantly different at the critical_value=0.1, pval=0.0004064027080110223
Column 97 is statistically significantly different at the critical_value=0.1, pval=0.0006689299437880477
Column 98 is statistically significantly different at the critical_value=0.1, pval=4.726805482632948e-06
Column 99 is statistically significantly different at the critical_value=0.1, pval=0.00030433623435004647
The number of differences was 99, which is 99.0%