In [1]:
import pandas as pd
import numpy as np 
import re

In [14]:
file = pd.read_csv("ToyotaCorolla.csv")
df = pd.DataFrame(file)
print(df.columns)

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Color', 'Automatic', 'CC', 'Doors',
       'Cylinders', 'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee',
       'BOVAG_Guarantee', 'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2',
       'Airco', 'Automatic_airco', 'Boardcomputer', 'CD_Player',
       'Central_Lock', 'Powered_Windows', 'Power_Steering', 'Radio',
       'Mistlamps', 'Sport_Model', 'Backseat_Divider', 'Metallic_Rim',
       'Radio_cassette', 'Parking_Assistant', 'Tow_Bar'],
      dtype='object')

In [15]:
df.set_index("Id", inplace=True) # removes the useless index which pandas created, inplace=True to change in the df itself
print(df.head())

                                            Model  Price  Age_08_04  \
Id
1   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500         23
2   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750         23
3   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950         24
4   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950         26
5     TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750         30

    Mfg_Month  Mfg_Year     KM Fuel_Type  HP  Met_Color   Color  ...  \
Id                                                               ...
1          10      2002  46986    Diesel  90          1    Blue  ...
2          10      2002  72937    Diesel  90          1  Silver  ...
3           9      2002  41711    Diesel  90          1    Blue  ...
4           7      2002  48000    Diesel  90          0   Black  ...
5           3      2002  38500    Diesel  90          0   Black  ...

    Powered_Windows  Power_Steering  Radio  Mistlamps  Sport_Model  \
Id
1                 1               1      0          0            0
2                 0               1      0          0            0
3                 0               1      0          0            0
4                 0               1      0          0            0
5                 1               1      0          1            0

    Backseat_Divider  Metallic_Rim  Radio_cassette  Parking_Assistant  Tow_Bar
Id
1                  1             0               0                  0        0
2                  1             0               0                  0        0
3                  1             0               0                  0        0
4                  1             0               0                  0        0
5                  1             0               0                  0        0

[5 rows x 38 columns]

In [16]:
columns_true_false = ["Met_Color", "Automatic", "Mfr_Guarantee", "BOVAG_Guarantee", "ABS", "Airbag_1", "Airbag_2", "Airco", "Automatic_airco", "Boardcomputer", "CD_Player", "Central_Lock", "Powered_Windows", "Power_Steering", "Radio", "Mistlamps", "Sport_Model", "Backseat_Divider", "Metallic_Rim", "Radio_cassette", "Parking_Assistant", "Tow_Bar"]
df[columns_true_false] = df[columns_true_false].replace({0: "No", 1: "Yes"}) # changes all 0 to No and 1 to Yes
print(df[columns_true_false].head())

   Met_Color Automatic Mfr_Guarantee BOVAG_Guarantee  ABS Airbag_1 Airbag_2  \
Id
1        Yes        No            No             Yes  Yes      Yes      Yes
2        Yes        No            No             Yes  Yes      Yes      Yes
3        Yes        No           Yes             Yes  Yes      Yes      Yes
4         No        No           Yes             Yes  Yes      Yes      Yes
5         No        No           Yes             Yes  Yes      Yes      Yes

   Airco Automatic_airco Boardcomputer  ... Powered_Windows Power_Steering  \
Id                                      ...
1     No              No           Yes  ...             Yes            Yes
2    Yes              No           Yes  ...              No            Yes
3     No              No           Yes  ...              No            Yes
4     No              No           Yes  ...              No            Yes
5    Yes              No           Yes  ...             Yes            Yes

   Radio Mistlamps Sport_Model Backseat_Divider Metallic_Rim Radio_cassette  \
Id
1     No        No          No              Yes           No             No
2     No        No          No              Yes           No             No
3     No        No          No              Yes           No             No
4     No        No          No              Yes           No             No
5     No       Yes          No              Yes           No             No

   Parking_Assistant Tow_Bar
Id
1                 No      No
2                 No      No
3                 No      No
4                 No      No
5                 No      No

[5 rows x 22 columns]

In [17]:
nan_rows = df[df.isna().any(axis=1)] # checking for any nan values, which were not found
print(nan_rows)

Empty DataFrame
Columns: [Model, Price, Age_08_04, Mfg_Month, Mfg_Year, KM, Fuel_Type, HP, Met_Color, Color, Automatic, CC, Doors, Cylinders, Gears, Quarterly_Tax, Weight, Mfr_Guarantee, BOVAG_Guarantee, Guarantee_Period, ABS, Airbag_1, Airbag_2, Airco, Automatic_airco, Boardcomputer, CD_Player, Central_Lock, Powered_Windows, Power_Steering, Radio, Mistlamps, Sport_Model, Backseat_Divider, Metallic_Rim, Radio_cassette, Parking_Assistant, Tow_Bar]
Index: []

[0 rows x 38 columns]

In [18]:
duplicates = df.duplicated().sum() # 1 duplicated row
df.drop_duplicates(inplace=True)
print(df.head())

                                            Model  Price  Age_08_04  \
Id
1   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500         23
2   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750         23
3   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950         24
4   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950         26
5     TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750         30

    Mfg_Month  Mfg_Year     KM Fuel_Type  HP Met_Color   Color  ...  \
Id                                                              ...
1          10      2002  46986    Diesel  90       Yes    Blue  ...
2          10      2002  72937    Diesel  90       Yes  Silver  ...
3           9      2002  41711    Diesel  90       Yes    Blue  ...
4           7      2002  48000    Diesel  90        No   Black  ...
5           3      2002  38500    Diesel  90        No   Black  ...

   Powered_Windows  Power_Steering  Radio  Mistlamps  Sport_Model  \
Id
1              Yes             Yes     No         No           No
2               No             Yes     No         No           No
3               No             Yes     No         No           No
4               No             Yes     No         No           No
5              Yes             Yes     No        Yes           No

    Backseat_Divider  Metallic_Rim Radio_cassette Parking_Assistant  Tow_Bar
Id
1                Yes            No             No                No       No
2                Yes            No             No                No       No
3                Yes            No             No                No       No
4                Yes            No             No                No       No
5                Yes            No             No                No       No

[5 rows x 38 columns]

In [19]:
date_columns = ["Mfg_Month", "Mfg_Year"] # columns to change to date
print(df[date_columns].head())

    Mfg_Month  Mfg_Year
Id
1          10      2002
2          10      2002
3           9      2002
4           7      2002
5           3      2002

In [20]:
df["Manufacture_Date"] = pd.to_datetime(df[date_columns].astype(str).agg('-'.join, axis=1), format="%m-%Y")
# first, create a column named Manufacture Date, which converts date_columns to time (assuming the day is 01) in the format month-year. Axis=1 for column, - to make the date clearer
df.drop(date_columns, axis=1, inplace=True) # removes the month and year columns in the df itself with no need to create a copy
print(df.head())

                                            Model  Price  Age_08_04     KM  \
Id
1   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500         23  46986
2   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750         23  72937
3   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950         24  41711
4   TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950         26  48000
5     TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750         30  38500

   Fuel_Type  HP Met_Color   Color Automatic    CC  ...  Power_Steering  \
Id                                                  ...
1     Diesel  90       Yes    Blue        No  2000  ...             Yes
2     Diesel  90       Yes  Silver        No  2000  ...             Yes
3     Diesel  90       Yes    Blue        No  2000  ...             Yes
4     Diesel  90        No   Black        No  2000  ...             Yes
5     Diesel  90        No   Black        No  2000  ...             Yes

    Radio  Mistlamps  Sport_Model  Backseat_Divider Metallic_Rim  \
Id
1      No         No           No               Yes           No
2      No         No           No               Yes           No
3      No         No           No               Yes           No
4      No         No           No               Yes           No
5      No        Yes           No               Yes           No

   Radio_cassette  Parking_Assistant Tow_Bar Manufacture_Date
Id
1              No                 No      No       2002-10-01
2              No                 No      No       2002-10-01
3              No                 No      No       2002-09-01
4              No                 No      No       2002-07-01
5              No                 No      No       2002-03-01

[5 rows x 37 columns]

In [21]:
print(df["Model"]) # note that the model column tells us how many doors the car has even though there is a column with this function, so we'll remove the doors infos here
pattern = r'\s*\d+/\d+-Doors' # the regex pattern used to identify the doors section in the string
df["Model"] = df["Model"].str.replace(pattern, '', regex=True) # replacing the doors section with nothing
print("\n")
print(df["Model"]) # doors section removed

Id
1           TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors
2           TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors
3           TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors
4           TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors
5             TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors
                              ...
1438           TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors
1439    TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...
1440    TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...
1441    TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...
1442          TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors
Name: Model, Length: 1435, dtype: object


Id
1             TOYOTA Corolla 2.0 D4D HATCHB TERRA
2             TOYOTA Corolla 2.0 D4D HATCHB TERRA
3             TOYOTA Corolla 2.0 D4D HATCHB TERRA
4             TOYOTA Corolla 2.0 D4D HATCHB TERRA
5               TOYOTA Corolla 2.0 D4D HATCHB SOL
                          ...
1438             TOYOTA Corolla 1.3 16V HATCHB G6
1439    TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA
1440    TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA
1441    TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA
1442            TOYOTA Corolla 1.6 LB LINEA TERRA
Name: Model, Length: 1435, dtype: object

In [22]:
df["Model"] = df["Model"].str.title() # the model column is too ugly since almost every char is uppercase, that needs to be changed
print(df.head())

                                  Model  Price  Age_08_04     KM Fuel_Type  \
Id
1   Toyota Corolla 2.0 D4D Hatchb Terra  13500         23  46986    Diesel
2   Toyota Corolla 2.0 D4D Hatchb Terra  13750         23  72937    Diesel
3   Toyota Corolla 2.0 D4D Hatchb Terra  13950         24  41711    Diesel
4   Toyota Corolla 2.0 D4D Hatchb Terra  14950         26  48000    Diesel
5     Toyota Corolla 2.0 D4D Hatchb Sol  13750         30  38500    Diesel

    HP Met_Color   Color Automatic    CC  ...  Power_Steering  Radio  \
Id                                        ...
1   90       Yes    Blue        No  2000  ...             Yes     No
2   90       Yes  Silver        No  2000  ...             Yes     No
3   90       Yes    Blue        No  2000  ...             Yes     No
4   90        No   Black        No  2000  ...             Yes     No
5   90        No   Black        No  2000  ...             Yes     No

    Mistlamps  Sport_Model  Backseat_Divider Metallic_Rim Radio_cassette  \
Id
1          No           No               Yes           No             No
2          No           No               Yes           No             No
3          No           No               Yes           No             No
4          No           No               Yes           No             No
5         Yes           No               Yes           No             No

    Parking_Assistant Tow_Bar Manufacture_Date
Id
1                  No      No       2002-10-01
2                  No      No       2002-10-01
3                  No      No       2002-09-01
4                  No      No       2002-07-01
5                  No      No       2002-03-01

[5 rows x 37 columns]

In [23]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1, 100000] # bins to create discrete values for a column to be created
labels = ["Very low", "Low", "Medium", "High", "Very high", "Incredibly high"] # names of the discrete values
df["Cost_Benefit"] = df["Price"] / df["KM"] # creating a temporary column to represent a relation between price and km
df["Cost_Benefit_Category"] = pd.cut(df["Cost_Benefit"], bins=bins, labels=labels, right=False) # real column to represent the cost benefit discretally
df.drop("Cost_Benefit", axis=1, inplace=True) # removing the temporary column in the df itself
print(df["Cost_Benefit_Category"].head(20)) # printing some columns to see that everything is allright

Id
1                 Low
2            Very low
3                 Low
4                 Low
5                 Low
6                 Low
7            Very low
8                 Low
9     Incredibly high
10           Very low
11               High
12             Medium
13               High
14          Very high
15               High
16    Incredibly high
17               High
18          Very high
19               High
20                Low
Name: Cost_Benefit_Category, dtype: category
Categories (6, object): ['Very low' < 'Low' < 'Medium' < 'High' < 'Very high' < 'Incredibly high']