In [2]:
import pandas as pd 
import numpy as np 
import re

### Question 1

Write a Pandas program to convert a given list of lists into a Dataframe.
Sample data:
Original list of lists:

[[2, 4], [1, 3]]

New DataFrame

col1 col2

0 2 4

1 1 3

In [4]:
list_of_lists = eval(input())
df = pd.DataFrame(list_of_lists, columns=["col1", "col2"])
print(df)

   col1  col2
0     2     4
1     1     3

### Question 2
Write a Pandas program to sort a given DataFrame by two or more columns.
Sample data:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [6]:
df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})
df.set_index(["score", "attempts"], inplace=True)
print(df)

                     name qualify
score attempts
12.5  1         Anastasia     yes
9.0   3              Dima      no
16.5  2         Katherine     yes
NaN   3             James      no
9.0   2             Emily      no
20.0  3           Michael     yes
14.5  1           Matthew     yes
NaN   1             Laura      no
8.0   2             Kevin      no
19.0  1             Jonas     yes

### Question 3

Write a Pandas program to convert continuous values of a column in a given DataFrame to categorical.
Input:


{ 'Name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
'Age': [18, 22, 40, 50, 80, 5] }

In [10]:
infos = {"Name": ["Alberto Franco", "Gino Mcneill", "Ryan Parkes", "Eesha Hinton", "Syed Wharton", "Hayley Winson"], 
        "Age": [18, 22, 40, 50, 80, 5]}
df = pd.DataFrame(infos) # creates the dataframe structure
bins = [0, 20, 40, 60, 80, 100] # the groups which the people will be put in
group_names = ["Child/Adolescent", "Early adult", "End adult", "Early elderly", "End elderly"] # the name of each group
print(pd.cut(df["Age"], bins, labels=group_names)) # consider the age section from df and label the groups names

0    Child/Adolescent
1         Early adult
2         Early adult
3           End adult
4       Early elderly
5    Child/Adolescent
Name: Age, dtype: category
Categories (5, object): ['Child/Adolescent' < 'Early adult' < 'End adult' < 'Early elderly' < 'End elderly']

### Question 4
How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [25]:
series = pd.Series(np.random.randint(0, 100, 50))
print(f"25th percentile: {series.describe()['25%']}")
print(f"median: {series.describe()['50%']}")
print(f"75th percentile: {series.describe()['75%']}")
print(f"max: {series.describe()['max']}")
# .describes() gives us many informations including these and the mean, standard deviation and the min, for example

25th percentile: 27.25
median: 52.5
75th percentile: 77.25
max: 98.0