In [3]:
import pandas as pd 
import numpy as np 
import re

### Question 1

Write a Pandas program to convert a given list of lists into a Dataframe.
Sample data:
Original list of lists:

[[2, 4], [1, 3]]

New DataFrame

col1 col2

0 2 4

1 1 3

In [4]:
list_of_lists = eval(input())
df = pd.DataFrame(list_of_lists, columns=["col1", "col2"])
print(df)

   col1  col2
0     2     4
1     1     3

### Question 2
Write a Pandas program to sort a given DataFrame by two or more columns.
Sample data:

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

In [6]:
df = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']})
df.set_index(["score", "attempts"], inplace=True)
print(df)

                     name qualify
score attempts
12.5  1         Anastasia     yes
9.0   3              Dima      no
16.5  2         Katherine     yes
NaN   3             James      no
9.0   2             Emily      no
20.0  3           Michael     yes
14.5  1           Matthew     yes
NaN   1             Laura      no
8.0   2             Kevin      no
19.0  1             Jonas     yes

### Question 3

Write a Pandas program to convert continuous values of a column in a given DataFrame to categorical.
Input:


{ 'Name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
'Age': [18, 22, 40, 50, 80, 5] }

In [10]:
infos = {"Name": ["Alberto Franco", "Gino Mcneill", "Ryan Parkes", "Eesha Hinton", "Syed Wharton", "Hayley Winson"], 
        "Age": [18, 22, 40, 50, 80, 5]}
df = pd.DataFrame(infos) # creates the dataframe structure
bins = [0, 20, 40, 60, 80, 100] # the groups which the people will be put in
group_names = ["Child/Adolescent", "Early adult", "End adult", "Early elderly", "End elderly"] # the name of each group
print(pd.cut(df["Age"], bins, labels=group_names)) # consider the age section from df and label the groups names

0    Child/Adolescent
1         Early adult
2         Early adult
3           End adult
4       Early elderly
5    Child/Adolescent
Name: Age, dtype: category
Categories (5, object): ['Child/Adolescent' < 'Early adult' < 'End adult' < 'Early elderly' < 'End elderly']

### Question 4
How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [25]:
series = pd.Series(np.random.randint(0, 100, 50))
print(f"25th percentile: {series.describe()['25%']}")
print(f"median: {series.describe()['50%']}")
print(f"75th percentile: {series.describe()['75%']}")
print(f"max: {series.describe()['max']}")
# .describes() gives us many informations including these and the mean, standard deviation and the min, for example

25th percentile: 27.25
median: 52.5
75th percentile: 77.25
max: 98.0

### Question 5
Write a Pandas program to change the order of index of a given series.

In [4]:
series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
series = series.reindex(index=['c', 'd', 'e', 'b', 'a'])
print(series)

c    3
d    4
e    5
b    2
a    1
dtype: int64

### Question 6
Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [16]:
series = pd.Series(np.random.randint(0, 1000, 1000))
print(series.value_counts())

566    5
735    5
72     4
706    4
147    4
      ..
595    1
455    1
98     1
95     1
374    1
Name: count, Length: 636, dtype: int64

### Question 7
Change the temperature anomaly csv file.

In [4]:
file = pd.read_csv("1- temperature-anomaly.csv")
df = pd.DataFrame(file)
df.drop("Code", axis=1, inplace=True)
print(df.head())

   Entity  Year  Global average temperature anomaly relative to 1961-1990  \
0  Global  1850                                          -0.417659
1  Global  1851                                          -0.233350
2  Global  1852                                          -0.229399
3  Global  1853                                          -0.270354
4  Global  1854                                          -0.291630

   Upper bound of the annual temperature anomaly (95% confidence interval)  \
0                                          -0.246115
1                                          -0.054832
2                                          -0.049416
3                                          -0.110700
4                                          -0.150436

   Lower bound of the annual temperature anomaly (95% confidence interval)
0                                          -0.589203
1                                          -0.411868
2                                          -0.409382
3                                          -0.430009
4                                          -0.432824

In [47]:
new_columns = ["Entity", "Year", "GATA (1961-1990)", "Upper Bound", "Lower Bound"]
df.columns = new_columns
print(df.head())

   Entity  Year  GATA (1961-1990)  Upper Bound  Lower Bound
0  Global  1850         -0.417659    -0.246115    -0.589203
1  Global  1851         -0.233350    -0.054832    -0.411868
2  Global  1852         -0.229399    -0.049416    -0.409382
3  Global  1853         -0.270354    -0.110700    -0.430009
4  Global  1854         -0.291630    -0.150436    -0.432824

In [49]:
df.sort_values(by="GATA (1961-1990)", ascending=False, inplace=True)
print(df.head())

                  Entity  Year  GATA (1961-1990)  Upper Bound  Lower Bound
344  Northern hemisphere  2020          1.275727     1.314590     1.236863
340  Northern hemisphere  2016          1.255193     1.286537     1.223849
347  Northern hemisphere  2023          1.237812     1.333305     1.142318
343  Northern hemisphere  2019          1.143743     1.179197     1.108290
339  Northern hemisphere  2015          1.130840     1.165842     1.095838